.section{
    padding:32px;
    background-color: var(--color-black);
}

.header{
text-align: left;
color: var(--color-white);
font-weight: 600;

}
.sectionHeader{
    display: flex;
    justify-content: space-between;
   
    align-items: baseline;
}
.collapse{ 
     height:280px;
     background-color: var(--color-black);
    
}
.collapseBtn{
    color: var(--color-primary) ;
background-color: var(--color-black) ;
border: none;
cursor: pointer;
}
.CardWrapper{
    
    margin-top: 18px
}
.showAll{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-black);
    gap: 40px;
    width: 100%;
    padding: 18px 12px 0px 12px;
}