.header{
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0px;
text-align: left;
color: var(--color-white);

}
.sectionHeader{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-black);
    padding-bottom: 10px;
}
.collapse{
    
     height:280px;
    
     background-color: var(--color-black);
     padding: 0px 31px 0px 31px;
}
.collapseBtn{
    color: var(--color-primary) ;
    font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 30px;
letter-spacing: 0px;
text-align: right;
background-color: var(--color-black) ;
border: none;
width:90px;
cursor: pointer;
padding: 0px;
}
.showAll{
    height: max-content;
    background-color: var(--color-black);
    
    width: 100%;
}